ext/wmq/wmq_structs.c
ext/wmq/Makefile
lib/wmq/wmq_const.rb
lib/wmq/wmq_const_admin.rb
ext/wmq/wmq_reason.c
ext/wmq/*.o
*/wmq.so
nbproject
nbproject/*
.project
rubywmq*.gem
ext/wmq/*.out
ext/wmq/*.org
